<button aria-label="Go back to previous page" class="back-button" type="button" (click)="goBack()">
	Go back
</button>
<h1>Transaction Detail</h1>
@if (transaction$ | async; as transaction) {
	<p><strong>Other Party Name:</strong> {{ transaction.otherParty?.name }}</p>
	<p><strong>Other Party IBAN:</strong> {{ transaction.otherParty?.iban }}</p>
	<p><strong>Amount:</strong> €{{ transaction.amount }}</p>
	<p><strong>Description:</strong> {{ transaction.description }}</p>
	<p><strong>Date:</strong> {{ transaction.timestamp | date: 'medium' }}</p>
} @else {
	<p><strong>Loading...</strong></p>
}
