<h1>Transactions</h1>
@for (transactionDay of transactionDays$ | async; track transactionDay.id) {
	<ul class="transaction-list">
		<h2>Dag: {{ transactionDay.id }}</h2>
		@for (transaction of transactionDay.transactions; track transaction.id) {
			<li class="transaction-item">
				<button
					type="button"
					class="transaction-button"
					(click)="openDetail(transactionDay.id, transaction.id)"
				>
					<span class="name">{{ transaction.otherParty?.name }}</span>
					<span class="amount">{{ transaction.amount.toFixed(2) }}</span>
				</button>
			</li>
		}
	</ul>
}
